In [4]:
import pandas as pd
import networkx as nx
import matplotlib.pyplot as plt
import numpy as np

In [6]:
poster = pd.read_csv('poster.csv')
poster = poster.drop(['id','action','year','rating', 'adventure','comedy','crime','drama','fantasy','horror','mystery','romance','sci-fi','short','thriller','animation'], axis=1)
poster.rename(columns={"title": "Film"}, inplace=True)

In [7]:
big_actor_movie = pd.read_csv('actorfilms.csv')  
df_big_actor_movie = big_actor_movie[['Film', 'Actor','Year','Rating']]
df_big_actor_movie

                                  Film                Actor  Year  Rating
0                          Ghost Story         Fred Astaire  1981     6.3
1                      The Purple Taxi         Fred Astaire  1977     6.6
2                The Amazing Dobermans         Fred Astaire  1976     5.3
3                 The Towering Inferno         Fred Astaire  1974     7.0
4                            Midas Run         Fred Astaire  1969     4.8
...                                ...                  ...   ...     ...
191868                     Jojo Rabbit  Roman Griffin Davis  2019     7.9
191869                       Silk Road            Lexi Rabe  2021     5.9
191870               Avengers: Endgame            Lexi Rabe  2019     8.4
191871  Godzilla: King of the Monsters            Lexi Rabe  2019     6.0
191872                   Wander Darkly      Inde Navarrette  2020     5.8

[191873 rows x 4 columns]

In [8]:
big_actors = np.unique(df_big_actor_movie['Actor'])
big_films = np.unique(df_big_actor_movie['Film'])


big_actor_by_film = dict.fromkeys(big_films, [])
big_actor_by_film

for i in range(len(df_big_actor_movie)):
    big_actor_by_film[df_big_actor_movie['Film'][i]] = big_actor_by_film[df_big_actor_movie['Film'][i]] + [df_big_actor_movie['Actor'][i]]

In [9]:
big_actor_by_film_df = pd.DataFrame(big_actor_by_film.items(), columns = ['Film', 'Actor list'])
big_actor_by_film_df.head()

             Film                                         Actor list
0  !Ay, mi madre!                                         [Paz Vega]
1    !Hay motivo!                          [Luis Tosar, Marta Etura]
2  !Three Amigos!  [Steve Martin, Chevy Chase, Jon Lovitz, Joe Ma...
3          #Alive                                    [Park Shin-Hye]
4         #Horror  [Timothy Hutton, Balthazar Getty, Chloe Sevign...

In [11]:
df = pd.merge(big_actor_by_film_df, poster, on="Film")
df.head()

,Film,Actor list,poster,genre
0,#Alive,[Park Shin-Hye],https://m.media-amazon.com/images/M/MV5BMGNiYj...,"action, drama, horror"
1,#Horror,"[Timothy Hutton, Balthazar Getty, Chloe Sevign...",https://m.media-amazon.com/images/M/MV5BMjM5OD...,"crime, drama, horror"
2,#Iamhere,[Bae Doona],https://m.media-amazon.com/images/M/MV5BZjRhN2...,comedy
3,#NAME?,"[Ray Milland, Robert Montgomery]",https://m.media-amazon.com/images/M/MV5BNzdlZj...,"animation, short, comedy"
4,#REALITYHIGH,"[Kate Walsh, John Michael Higgins, Anne Winter...",https://m.media-amazon.com/images/M/MV5BNDU3Mz...,"comedy, drama, romance"

In [12]:
df = df.drop_duplicates(subset=['Film'])
df = df.reset_index()
df.head()

,index,Film,Actor list,poster,genre
0,0,#Alive,[Park Shin-Hye],https://m.media-amazon.com/images/M/MV5BMGNiYj...,"action, drama, horror"
1,1,#Horror,"[Timothy Hutton, Balthazar Getty, Chloe Sevign...",https://m.media-amazon.com/images/M/MV5BMjM5OD...,"crime, drama, horror"
2,2,#Iamhere,[Bae Doona],https://m.media-amazon.com/images/M/MV5BZjRhN2...,comedy
3,3,#NAME?,"[Ray Milland, Robert Montgomery]",https://m.media-amazon.com/images/M/MV5BNzdlZj...,"animation, short, comedy"
4,4,#REALITYHIGH,"[Kate Walsh, John Michael Higgins, Anne Winter...",https://m.media-amazon.com/images/M/MV5BNDU3Mz...,"comedy, drama, romance"

In [13]:
actors = np.unique(df['Actor list'])
genre = np.unique(df['genre'].str.split(', ').sum())
movie = np.unique(df['Film'].str.split(', ').sum())

In [14]:
combined_list = []

for lst in actors:
    combined_list.extend(lst)

unique_list = list(set(combined_list))

In [15]:
unique_list = np.array(unique_list)

In [16]:
unique_list

array(['Izabella Scorupco', 'Erin Richards', 'Charlotte Spencer', ...,
       'Tom Irwin', 'Clark Gregg', 'Jessica De Gouw'], dtype='<U27')

In [17]:
df['Actor_List_id'] = df['Actor list'].apply(lambda x: [np.where(unique_list == i)[0][0] for i in x])

In [18]:
df.head()

,index,Film,Actor list,poster,genre,Actor_List_id
0,0,#Alive,[Park Shin-Hye],https://m.media-amazon.com/images/M/MV5BMGNiYj...,"action, drama, horror",[1824]
1,1,#Horror,"[Timothy Hutton, Balthazar Getty, Chloe Sevign...",https://m.media-amazon.com/images/M/MV5BMjM5OD...,"crime, drama, horror","[2264, 3751, 4062, 997, 1523, 5900]"
2,2,#Iamhere,[Bae Doona],https://m.media-amazon.com/images/M/MV5BZjRhN2...,comedy,[5966]
3,3,#NAME?,"[Ray Milland, Robert Montgomery]",https://m.media-amazon.com/images/M/MV5BNzdlZj...,"animation, short, comedy","[4449, 5285]"
4,4,#REALITYHIGH,"[Kate Walsh, John Michael Higgins, Anne Winter...",https://m.media-amazon.com/images/M/MV5BNDU3Mz...,"comedy, drama, romance","[5533, 6648, 978, 2916, 3417, 593]"

In [19]:
adj_matrix = np.zeros((len(unique_list),len(unique_list)))

In [20]:
for i in range(len(df)):
    for j in range(len(df['Actor_List_id'][i])-1):
        for k in range(j+1,len(df['Actor_List_id'][i])-1):
            adj_matrix[df['Actor_List_id'][i][j]][df['Actor_List_id'][i][k]] = adj_matrix[df['Actor_List_id'][i][j]][df['Actor_List_id'][i][k]]+ 1
            adj_matrix[df['Actor_List_id'][i][k]][df['Actor_List_id'][i][j]] = adj_matrix[df['Actor_List_id'][i][k]][df['Actor_List_id'][i][j]]+ 1

In [21]:
np.max(adj_matrix)

17.0

In [32]:
filtered_df = df[df['Actor list'].apply(lambda x: "Jack Nicholson" in x)]
filtered_df

,index,Film,Actor list,poster,genre,Actor_List_id
810,926,Anger Management,"[Jack Nicholson, Woody Harrelson, John C. Reil...",https://m.media-amazon.com/images/M/MV5BOTIzMz...,"comedy, romance","[1308, 1506, 8191, 8929, 7894, 1438, 2545, 149..."
4074,4753,Head,"[Jack Nicholson, Teri Garr, Victor Mature, Ann...",https://m.media-amazon.com/images/M/MV5BZjg1Zm...,"comedy, horror","[1308, 181, 1037, 6420, 8921]"
4346,5081,How Do You Know,"[Jack Nicholson, Reese Witherspoon, Tony Shalh...",https://m.media-amazon.com/images/M/MV5BOTQyMz...,"comedy, drama, romance","[1308, 3956, 5001, 1746, 2053, 5421, 3894, 634..."
8736,10216,The Border,"[Harvey Keitel, Jack Nicholson, Elpidia Carril...",https://m.media-amazon.com/images/M/MV5BMzY1ZG...,"action, crime, drama","[3813, 1308, 1372, 4649, 1019, 7700, 2156, 3740]"
8777,10271,The Bucket List,"[Morgan Freeman, Jack Nicholson, Rob Morrow, S...",https://m.media-amazon.com/images/M/MV5BMTY2NT...,"comedy, drama","[1582, 1308, 6940, 4948, 2134, 844]"
8983,10535,The Departed,"[Leonardo DiCaprio, Jack Nicholson, Mark Wahlb...",https://m.media-amazon.com/images/M/MV5BYzc3MW...,"crime, drama","[3947, 1308, 4525, 1901, 6480, 4209, 6155, 475..."
9559,11220,The Last Tycoon,"[Robert Mitchum, Robert De Niro, Jack Nicholso...",https://m.media-amazon.com/images/M/MV5BZDVhOT...,drama,"[7697, 8788, 1308, 5569, 8926, 3483, 8810, 777..."
9876,11587,The Passenger,"[Jack Nicholson, Steven Berkoff]",https://m.media-amazon.com/images/M/MV5BZmNiZT...,"short, sci-fi, thriller","[1308, 8733]"
9988,11727,The Raven,"[Peter Lorre, John Cusack, Jack Nicholson, Bor...",https://m.media-amazon.com/images/M/MV5BNTU4OG...,"crime, mystery, thriller","[212, 8677, 1308, 3027, 3027, 5623, 7566, 3852..."
10628,12507,Tommy,"[Jack Nicholson, Ann-Margret, Oliver Reed, Elt...",https://m.media-amazon.com/images/M/MV5BNDUxZW...,drama,"[1308, 8581, 1564, 5758, 5754, 4588, 7881, 5937]"
11309,13302,Wolf,"[Jack Nicholson, Michelle Pfeiffer, James Spad...",https://m.media-amazon.com/images/M/MV5BMjE4MT...,"crime, drama, thriller","[1308, 1905, 5168, 5466, 7185, 4937, 6595, 353..."